h2, h3 {
  font-size: 1.8em;
  text-transform: uppercase;
  color: #268281;
  padding: 1em 0 0.2em 0;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: left;
}

h3 {
  font-size: 1.5em;
  margin-left: 1em;
  color: #6bbe43;
  background: linear-gradient(45deg, rgba(256, 256, 256, 0), rgba(256, 256, 256, 1)), url('../images/pattern.svg');
  padding: 0.5em;
  width: 95%;
}

p {
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.5em;
  padding-bottom: 0.5em;
}

section > article {
  margin-bottom: 1.5em;
}

.list-gallery {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2em;
}

.list-gallery > li > a{
  position: relative;
  display: block;
}

.list-gallery > li > a:after{
  content: url('../images/camera-icon.png');
  position: absolute;
  top: 80%;
  left: 1%;
}

.list-gallery > li img:hover{
  filter: brightness(0.8) blur(1px);
}

.list-gallery > li img {
  width: 100%;
}

main > section > article{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 40% 55%; 
}

main > section > article > h3 {
  grid-column: 1 / 3;
  grid-row: 1;
}

main > section > article > .info {
  grid-column: 1 / 2;
  grid-row: 2;
  margin-left: 2em;
}

main > section > article ul {
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.5em;
  margin-left: 2em;
}

main > section > article > .media {
  grid-column: 2 / 3; 
  grid-row: 2;
}

main > section > article > .media img {
  max-width: 90%;
}

main > section > article > .video {
  grid-column: 1 / 3; 
  grid-row: 3;
}

main > section > article > .video video {
  max-width: 100%;
}

/*BEGIN form*/

/*-BEGIN section share your experience*/
main > section:nth-of-type(5) > form > table {
  margin: 0 auto;
}

main > section:nth-of-type(5) > form > table th {
  text-align: right;
}

main > section:nth-of-type(5) > form > table th > label {
  background-color: #268281;
  color: #fff;
  display: inline-block;
  width: 80%;
  padding: 0.45em 0.2em;
}

main > section:nth-of-type(5) > form input {
    padding: 0.4em 0.2em;
}

main > section:nth-of-type(5) > form > table tr:nth-of-type(4), 
main > section:nth-of-type(5) > form > table tr:nth-of-type(5), 
main > section:nth-of-type(5) > form > table tr:nth-of-type(6){
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 0.5em;
}

main > section:nth-of-type(5) > form > table tr:nth-of-type(4) td,
main > section:nth-of-type(5) > form > table tr:nth-of-type(5) td,
main > section:nth-of-type(5) > form > table tr:nth-of-type(6) td{
  width: 3.5rem;
  height: 1.5rem;
  background-color: #268281;
  position: relative;
  box-shadow: 2px 2px 1px 1px #ccc;
}

main > section:nth-of-type(5) > form > table tr:nth-of-type(4) td label,
main > section:nth-of-type(5) > form > table tr:nth-of-type(5) td label,
main > section:nth-of-type(5) > form > table tr:nth-of-type(6) td label{
  color: #fff;
  padding: 0.2em;
  padding-left: 1.4em;
  padding-right: 0.8em;
}

main > section:nth-of-type(5) > form > table tr:nth-of-type(4) td input,
main > section:nth-of-type(5) > form > table tr:nth-of-type(5) td input,
main > section:nth-of-type(5) > form > table tr:nth-of-type(6) td input{
  position: absolute;
  top: 15%;
  margin-left: 0.2em;
  
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px #9ce7a2;
}
/*-END section share your experience*/

/*END form*/