@font-face {
    font-family: 'Barlow Condensed';
    src: url('fonts/barlowcondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/barlowcondensed-regular-webfont.woff') format('woff');
         font-weight: normal;

}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('fonts/barlowcondensed-bold-webfont.woff2') format('woff2'),
         url('fonts/barlowcondensed-bold-webfont.woff') format('woff');
    font-weight: 600;

}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Barlow Condensed';

}

body {
    max-width: 1330px;
    margin: 0 auto;
    /*margin: top right bottom left*/
    overflow-x: hidden;
}

a:link, a:visited, a:hover, a:active {
    color: #268281;
}

a:hover {
    text-decoration: none;
}

header>h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
    line-height: 2em;
    letter-spacing: 0.3em;
    font-weight: 600;
}

header {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    background-color: #268281;
}

#breadcrumbs {
    grid-row: 2;
    grid-column: 1 / 4;
    background-color: #085352;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.2em;
}

#breadcrumbs a:link,
#breadcrumbs a:hover,
#breadcrumbs a:visited {
    text-decoration: none;
    color: #fff;
}

#breadcrumbs a:hover {
    font-weight: 600;
}

.breadcrumb-symbol {
    color: #fff;
    font-size: 1em;
}

#main-menu {
    grid-column: 1;
    grid-row: 1;
}

#main-title {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

#main-logo {
    grid-column: 3;
    grid-row: 1;
}

#main-logo a img {
    width: 100%;
}

#main-menu>button {
    background-color: #1d6664;
    color: #fff;
    font-size: 1.3em;
    padding: 2.2em;
    border: 0;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    cursor: pointer;
}

#main-menu>button:hover {
    background-color: #9ce7a2;
    color: #268281;
}

#main-menu>ul {
    list-style: none;
    padding: 0;
    background-color: #268281;
}

#main-menu>ul>li {
    padding: 0.5em 0.5em;
    cursor: pointer;
}

#main-menu>ul>li:hover{
    color: #1f6b69;
    background-color: #9CE7A2; 
    transition-property: background-color;
    transition: 0.5s all;
    transition-timing-function: linear;  
}

#main-menu>ul>li>a {
    text-decoration: none;
}

#main-menu>ul>li>a:link,
#main-menu>ul>li>a:hover,
#main-menu>ul>li>a:visited {
    text-transform: uppercase;
    font-size: 1.1em;
    color: #fff;
}


/*START #banner*/

#banner>div {
    position: relative;
}

#banner .video video {
    max-width: 100%;
}

#banner>div>div>span {
    font-size: 10em;
    text-align: center;
    text-transform: uppercase;
    color: #268281;
    text-shadow: 4px 4px 2px #9ce7a2;
    position: absolute;
    top: 20%;
    width: 100%;
}

#banner>div>div>div:nth-child(3) {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
}

#banner>div>div>div>a {
    background-color: #268281;
    color: #fff;
    font-size: 1.3em;
    padding: 1em;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #9ce7a2;
    border-radius: 0.5em;
}

#banner>div>div>div>a,
#banner>div>div>div>a:link,
#banner>div>div>div>a:hover,
#banner>div>div>div>a:visited {
    text-decoration: none;
}

#banner>div>div>div>a:hover {
    background-color: #9ce7a2;
    color: #268281;
    border: 2px solid #268281;
}


/*END #banner*/


/*START #countries-images*/

#countries-images {
    list-style-type: none;
}

#countries-images li {
    float: left;
    width: 50%;
    max-height: 220px;
    overflow-y: hidden;
    padding-bottom: 200px;
    background-color: #000;
    position: relative;
}

#countries-images li>span {
    position: absolute;
    left: 50%;
    text-align: center;
    color: #fff;
    font-size: 1.6em;
    top: 30%;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px #000;
    transform: translate(-30%, -50%);
}

#countries-images li>i {
    position: absolute;
    left: 50%;
    text-align: center;
    color: #fff;
    font-size: 1.3em;
    top: 45%;
    text-shadow: 3px 3px 2px #000;
    border: 1px solid #fff;
    transform: translate(-30%, -45%);
    padding: 0.3em;
}

#countries-images img {
    width: 100%;
    height: 440px;
}


/*END #countries-images*/


/*START #main-content*/

#main-content {
    clear: both;
}

#main-content>section {
    display: flex;
    justify-content: center;
}


/*-BEGIN section ul*/

#main-content>section:nth-of-type(1)>ul {
    list-style: none;
}

#main-content>section:nth-of-type(1)>ul>li {
    float: left;
    padding: 1em;
}

#main-content>section:nth-of-type(1)>ul>li:not(:last-child)::after {
    content: ' | ';
    padding-left: 1.1em;
    font-size: 1.4em;
    color: rgb(38, 130, 129);
}

#main-content>section:nth-of-type(1)>ul>li>a {
    color: #268281;
    font-size: 1.2em;
    text-transform: uppercase;
}

#main-content>section:nth-of-type(1)>ul>li>a:link,
#main-content>section:nth-of-type(1)>ul>li>a:hover,
#main-content>section:nth-of-type(1)>ul>li>a:visited,
#main-content>section:nth-of-type(1)>ul>li>a:active {
    text-decoration: none;
}

#main-content>section:nth-of-type(1)>ul>li>a:hover {
    text-shadow: 0.2em 0.1em 0.2em rgba(38, 130, 129, 0.4);
}


/*-END section ul*/


/*-BEGIN section table*/

#main-content>section:nth-of-type(2)>table {
    /*display: none;*/
    /*width: 80%;*/
    display: block;
}

#main-content>section:nth-of-type(2) a {
    display: block;
    position: relative;
    width: 200x;
    height: 200px;
    overflow: hidden;
}

#main-content>section:nth-of-type(2) a:after {
    content: url('../images/icon-gallery.svg');
    width: 1.5em;
    position: absolute;
    top: 85%;
    left: 2%;
}

#main-content>section:nth-of-type(2) img:hover {
    position: relative;
    filter: brightness(0.4) blur(3px);
    width: 105%;
}


/*-END section table*/


/*END #main-content*/


/*BEGIN footer*/

footer {
    margin-top: 2em;
    padding-top: 1.5em;
    border-top: 0.1em solid #268281;
}


/*-BEGIN section media links*/

footer>section:nth-of-type(1) {
    display: block;
    margin: 0 auto;
}

footer>section:nth-of-type(1)>nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>section:nth-of-type(1)>nav>ul {
    list-style: none;
}

footer>section:nth-of-type(1)>nav>ul>li {
    float: left;
    margin-left: 2em;
}

footer>section:nth-of-type(1)>nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    text-shadow: 0.1em 0.1em 0.15em;
}

footer>section:nth-of-type(1)>nav>ul>li:nth-child(1)>a:before {
    content: url('../images/icon-youtube.svg');
    display: inline-block;
    width: 24px;
    padding-right: 0.3em;
    position: relative;
    transform: translate(0, 15%);
}

footer>section:nth-of-type(1)>nav>ul>li:nth-child(1)>a:link {
    color: #C3271A;
}

footer>section:nth-of-type(1)>nav>ul>li:nth-child(1)>a:visited {
    color: #C3271A;
}

footer>section:nth-of-type(1)>nav>ul>li:nth-child(1)>a:hover {
    color: #C3271A;
    font-weight: 600;
}

footer>section:nth-of-type(1)>nav>ul>li:nth-child(1)>a:active {
    color: #C3271A;
}

footer>section:nth-of-type(1)>nav>ul>li:nth-child(2)>a:before {
    content: url('../images/icon-instagram.svg');
    display: inline-block;
    width: 24px;
    padding-right: 0.3em;
    position: relative;
    transform: translate(0, 15%);
}

footer>section:nth-of-type(1)>nav>ul>li:nth-child(2)>a:link {
    color: #de3f82;
}

footer>section:nth-of-type(1)>nav>ul>li:nth-child(2)>a:visited {
    color: #de3f82;
}

footer>section:nth-of-type(1)>nav>ul>li:nth-child(2)>a:hover {
    color: #de3f82;
    font-weight: 600;
}

footer>section:nth-of-type(1)>nav>ul>li:nth-child(2)>a:active {
    color: #de3f82;
}


/*-END section media links*/


/*-BEGIN section subscribe*/

footer>section:nth-of-type(2) {
    direction: block;
    clear: both;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    width: 40%;
    border: 0.1em solid #268281;
    border-radius: 1em;
}

footer>section:nth-of-type(2)>h2 {
    font-size: 1.5em;
    color: #268281;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 600;
    padding: 1em;
}

footer>section:nth-of-type(2)>form>table {
    margin: 0 auto;
}

footer>section:nth-of-type(2)>form>table tr:nth-of-type(1) td:nth-of-type(1) {
    text-align: right;
    padding-right: 0.5em;
}

footer>section:nth-of-type(2)>form>table tr:nth-of-type(2) td:nth-of-type(1) {
    text-align: center;
    padding-right: 0.5em;
    color: red;
}

footer>section:nth-of-type(2)>form>table tr:nth-of-type(3) td:nth-of-type(1) {
    text-align: right;
    padding-right: 0.5em;
}

footer>section:nth-of-type(2)>form td:nth-child(2) {
    text-align: left;
}

footer>section:nth-of-type(2)>form input {
    padding: 0.4em 0.2em;
    width: 100%;
}

footer>section:nth-of-type(2)>form>table tr td {
    border-bottom: 10px solid rgba(38, 130, 129, 0);
}

footer>section:nth-of-type(2)>form>table tr:nth-of-type(4) td:nth-of-type(1) {
    text-align: center;
    padding-right: 0.5em;
    color: red;
}

footer>section:nth-of-type(2)>form>table tr:nth-of-type(5)>td {
    text-align: justify;
    padding: 0.5em;
}

footer>section:nth-of-type(2)>form>table tr:nth-of-type(5) a:link {
    color: #268281;
}

footer>section:nth-of-type(2)>form>table tr:nth-of-type(5) a:hover {
    color: #268281;
    font-weight: 600;
}

footer>section:nth-of-type(2)>form>table tr:nth-of-type(5) a:active {
    color: #268281;
}

footer>section:nth-of-type(2)>form>table tr:nth-of-type(5) a:visited {
    color: #268281;
}

footer>section:nth-of-type(2)>form>table tr:nth-of-type(6) {
    text-align: center;
}

footer>section:nth-of-type(2)>form input[type="submit"] {
    padding: 0.4em 0.2em;
    width: 50%;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #085352;
    background-color: #9CE7A2;
}

footer>section:nth-of-type(2)>form input[type="submit"]:hover {
    cursor: pointer;
}

footer>section:nth-of-type(2)>form select {
    padding: 0.4em 0.2em;
    width: 103%;
}

footer>section:nth-of-type(2)>form label {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 0.45em 0.2em;
    background-color: #268281;
}

footer>section:last-child {
    font-size: 1.3em;
    color: #268281;
    text-transform: uppercase;
    margin: 2em 0;
}

footer>section:last-child div {
    text-align: center;
    margin-bottom: 0.5em;
}

footer>section:last-child address {
    display: grid;
    grid: 1fr 1fr;
    grid-gap: 0.5em;
    justify-content: center;
}

footer>section:last-child span:nth-child(1) {
    display: block;
    grid-column: 1 / 2;
}

footer>section:last-child span:nth-child(2) {
    display: block;
    grid-column: 2 / 3;
}

footer>section:last-child span:nth-child(3) {
    display: block;
    grid-column: 1 / 3;
    grid-row: 2;
    text-align: center;
}

footer>section:last-child a {
    color: #268281;
    font-weight: 600;
    text-decoration: none;
}

footer>section:last-child a:hover {
    text-shadow: 1px 1px 2px #9ce7a2;
}

footer>section:last-child .phone-number p {
    text-align: center;
    font-size: 1em;
    padding-bottom: 0;
    line-height: 1em;
}

footer>section:last-child .phone-number a:before {
    content: url('../images/icon-phone.svg');
    display: inline-block;
    width: 1em;
    margin: 0 0.6em;
}

footer>section:last-child .email a:before {
    content: url('../images/icon-mail.svg');
    display: inline-block;
    width: 1.5em;
    margin: 0 0.3em;
}

footer>section:last-child .address b:before {
    content: url('../images/icon-address.svg');
    display: inline-block;
    width: 0.7em;
    margin: 0 0.3em;
}

footer>section:last-child .country {
    color: #FF001B;
}

footer>section:last-child .country:before {
    content: url('../images/icon-canada.svg');
    display: inline-block;
    width: 1em;
    margin: 0 0.3em;
    filter: drop-shadow(0.1em 0.1em 0.2em #FF001B);
}


/*-END section subscribe*/


/*END footer*/

/*BEGIN styles for the image of the modal gallery*/
#overlapBody {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.parent-modal {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 1em;
}

.modal img {
    width: 100%;
}

.modal {
    border: 0.3em solid #fff;
    border-radius: 0.3em;
    background-color: #9CE7A2;
    padding: 0.3em;
    box-sizing: border-box;
    position: relative;
}

.modal .close-button {
    width: 3em;
    position: absolute;
    right: -1.7em;
    top: -0.7em;
    cursor: pointer;
    opacity: 0;
}

.modal .close-button:hover {
    transform: scale(1.05);
    transform: rotateZ(7deg);
}

.hideImage {
    height: 0em;
    overflow: hidden;
}

.showImage {
    height: auto;
    overflow: hidden; 
}

.image-gallery {
    display: flex;
    justify-content: center;
}
/*END styles for the image of the modal gallery*/

/*BEGIN styles for javascript*/

.hide {
    height: 0em;
    overflow: hidden;
    transition-property: height;
    transition: 1s all;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}

.show {
    height: 14em;
    overflow: hidden;
    transition-property: height;
    transition: 1s all;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}

.colorizeLink {
    color: #1f6867 !important;
    transition: 0.5s all;
    transition-timing-function: linear;
}

@keyframes noZoom {
    from { transform: scale(1.05); }
    to   { transform: scale(1); }
}

@keyframes zoomIn {
    from { transform: scale(1); }
    to   { transform: scale(1.05); }
  }

  @keyframes opacity07 {
    from { opacity: 1; }
    to   { opacity: 0.7; }
  }

  @keyframes opacity1 {
    from { opacity: 0.7; }
    to   { opacity: 1; }
  }

.addZoomIn {
    animation: zoomIn 0.3s ease-in-out forwards;
    background-color: #000;
    z-index: 99;
}

.addNoZoom {
    animation: noZoom 0.3s ease-in-out forwards;
    background-color: none;
    z-index: 1;
}

.addOpacity07 {
    animation: opacity07 0.3s ease-in-out forwards;
}

.addOpacity1 {
    animation: opacity1 0.3s ease-in-out forwards;
}
/*END styles for javascript*/

/*BEGIN styles validate form #share-your-experience*/
.error-box, .error-box-months, .error-box-traveler, .error-box-cities, .error-box-comments, .error-box-upload, .error-box-form, .success-box-form{
    padding: 0.6em 0.8em 0.6em 0.6em;
    margin-top: 1em;
    border: 2px solid red;
    border-radius: 0.5em;
    color: #fff;
}

.success-box-form {
    border: 2px solid#9CE7A2;
    background-color: #268281;
}

.error-box-months, .error-box-traveler, .error-box-cities, .error-box-comments, .error-box-upload, .error-box-form, .success-box-form{
    position: absolute;
    left: 0;
    top: 1.5em;
}

.error-box-form, .success-box-form {
    top: -1em;
    left: 7em;
}

.error-box-upload {
    left: 1em;
    background-color: #fff;
}

.error-box-cities{
    top: 5.5em;
}

.error-box-comments {
    top: 8em;
}

.error {
    display: block;
    width: 100%;
    padding: 0.2em;
}

.error:nth-child(odd) {
    background-color: #701717;
}

.error:nth-child(even) {
    background-color: #8c0505;
}

.error:before {
    content: ' * ';
    font-weight: 600;
}

.success {
    background-color: #268281; 
}

.inputError {
    border: 2px solid red;
}
/*END styles validate form #share-your-experience*/

/*BEGIN styles #country-clock*/
#breadcrumbs {
    position: relative;
}

#country-clock {
    display: inline-block;
    position: absolute;
    top: 0.15em;
    left: 85%;
    color: #fff;
    background-color: #3d6d40;
    padding: 0.2em;
    border-radius: 0.3em;
}
/*END styles #country-clock*/

/*BEGIN list gallery camera icon*/
.list-gallery>li>a:after {
    content: url('../images/icon-gallery.svg');
    position: relative;
    display: block;
    font-size: 1em !important;
    width: 1.5em;
    top: -61px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.3em 0em 0.3em;
    border-radius: 0.3em;
    border: 0.1em solid rgba(255, 255, 255, 0.7);
}
/*END list gallery camera icon*/