.list-gallery > li > a::after {
    top: 73%;
    left: 1%;
}

main a,
main a:link,
main a:visited,
main a:hover,
main a:active {
  color:#268281;
  text-decoration: none;
}

main a:hover {
  font-weight: 600;
}

#travelingtips {
  grid-template: 1fr 1fr 1fr 1fr;
}

#travelingtips h3 {
  grid-column: 1 / 5;
  grid-row: 1;
}

#travelingtips  > article:nth-of-type(1) .info:nth-of-type(1) {
  grid-column: 1 / 3;
  grid-row: 2;
}

#travelingtips  > article:nth-of-type(1) .media:nth-of-type(1) {
  grid-column: 3 / 5;
  grid-row: 2;
}

#travelingtips > article:nth-of-type(1) .info:nth-of-type(1) {
  grid-column: 1 / 5;
  grid-row: 3;
}

#country-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#country-list > ul:nth-child(1){
  grid-column: 1 / 2;
  grid-row: 1;
}

#country-list > ul:nth-child(2){
  grid-column: 2 / 3;
  grid-row: 1;
}

#country-list > ul:nth-child(3){
  grid-column: 3 / 4;
  grid-row: 1;
}

#country-list > ul:nth-child(4){
  grid-column: 4 / 5;
  grid-row: 1;
}
#festivals > article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#festivals > article > h3 {
  grid-row: 1;
  grid-column: 1 / 7;
}

#festivals > article > .info {
  grid-row: 2;
  grid-column: 1 / 3;
}

#festivals > article > .list-gallery {
  grid-row: 2;
  grid-column: 3 / 7;
}

#festivals > article > .media {
  grid-row: 3;
  grid-column: 1 / 7;
}

#festivals > article > .media video {
  width: 960px;
}