main a,
main a:link,
main a:visited,
main a:hover,
main a:active {
  color:#268281;
  text-decoration: none;
}

main a:hover {
  font-weight: 600;
}

#festivals >article:nth-of-type(2) > .media:nth-of-type(2) {
  grid-column: 1 / 3;
  grid-row: 3; 
}

#festivals >article:nth-of-type(3) > .media:nth-of-type(3) {
  grid-column: 1 / 3;
  grid-row: 3; 
}


/*BEGIN Styles for banner-slider*/
#banner-slider{
  background-image:   linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5), rgba(255,255,255,0.3)),
                      url(../images/bg-korea.png);
  background-size: 15%;
  background-position: bottom left;
  background-repeat: space;
}
/*END Styles for banner-slider*/