#subscription {
    grid-row: 3;
    grid-column: 1 / 4;
    padding: 1em;
    background-color: #5f6868;
}

#subscription > form > label {
    color: #fff;  
    font-size: 1.1em;
    letter-spacing: 0.1em;
}

#subscription > form > label:nth-of-type(2){
    margin-left: 1em;
}

#subscription > form > input {
    padding: 0.2em;
    letter-spacing: 0.1em;
}

#subscription > form > input[type="submit"]{
    background-color: #268281;
    border: 0;
    padding: 0.3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-left: 0.5em;
}

#subscription > form > input[type="submit"]:hover {
    cursor: pointer;
    background-color: #085352;
}

#subscription > form > label:after {
    content: ": ";
}

#main-title{
    letter-spacing:0.15em;
}

.country-info{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

.country-info td, .country-info tr{
    border: 1px solid red;
    padding: 1em;
    vertical-align: middle;
    text-align: center;
}

.country-info th {
    text-transform: uppercase;
    font-size: 2em;
    background-color: red;
    color: #fff;
    padding: 0.5em;
}

.country-info td > h3 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
}

.country-info td > img {
    margin: 0 auto;
    display: block;

}

main > section:nth-of-type(1) > article > h1{
    font-size: 2em;
    text-transform: uppercase;
    color: red;
    padding: 1em 0;
    font-weight: 600;
    letter-spacing: 0.3em;

}

main > section:nth-of-type(1) > article > p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
    padding: 0.5em;
}

main > section > article {
    width: 100%;
    text-align: center;
}

main > section > article > video {
    margin-top: 1em;
    padding: 1em;
}

#banner-slider{
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 960px;
}

#banner-slider > ul {
    list-style: none;
    
}

#banner-slider > ul > li {
    position: absolute;
}

#banner-slider > ul > li > img {
    width: 100%;
    
}

/*BEGIN country menu*/

#country-details-menu {
    display: flex;
    justify-content: center;
}

#country-details-menu > ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#country-details-menu > ul:before {
    content: url('../images/icon-luggage.svg');
    width: 4em;
}

#country-details-menu > ul:after {
    content: url('../images/icon-camera.svg');
    width: 4em;
}

#country-details-menu > ul > li {
    float: left;
    position: relative;
}

#country-details-menu a {
    display: block;
    padding: 1em;
    color: #fff;
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

#country-details-menu a:link,
#country-details-menu a:visited,
#country-details-menu a:hover,
#country-details-menu a:active {
    text-decoration: none;
    color: #fff;
}

#country-details-menu a:hover {
    top:-0.2em;
    left: -0.2em;
    box-shadow: 0.2em 0.2em 1px #ccc;
}

#country-details-menu a:before {
    display: inline-block;
    width: 1.7em;
    position: relative;
    top: 0.5em;
    right: 0.3em;
}

#country-details-menu ul > li:nth-child(1) a {
    background-color: #216462;
}

#country-details-menu ul > li:nth-child(1) a:before{
    content: url('../images/icon-places-01.svg');
}

#country-details-menu ul > li:nth-child(2) a {
    background-color: #43AB9B;
}

#country-details-menu ul > li:nth-child(2) a:before{
    content: url('../images/icon-food-01.svg');
}

#country-details-menu ul > li:nth-child(3) a {
    background-color: #66883F;
}

#country-details-menu ul > li:nth-child(3) a:before{
    content: url('../images/icon-tips-01.svg');
}

#country-details-menu ul > li:nth-child(4) a {
    background-color: #4ea32a;
}

#country-details-menu ul > li:nth-child(4) a:before{
    content: url('../images/icon-festivals-01.svg');
}

/*END country menu*/
