#main-ttitle{
    letter-spacing:0.15em;
}

.country-info{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

.country-info td, .country-info tr{
    border: 1px solid red;
    padding: 1em;
    vertical-align: middle;
    text-align: center;
}

.country-info th {
    text-transform: uppercase;
    font-size: 2em;
    background-color: red;
    color: #fff;
    padding: 0.5em;
}

.country-info td > h3 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
}

.country-info td > img {
    margin: 0 auto;
    display: block;

}

main > section:nth-of-type(1) > article > h1{
    font-size: 2em;
    text-transform: uppercase;
    color: red;
    padding: 1em 0;
    font-weight: 600;
    letter-spacing: 0.3em;

}

main > section:nth-of-type(1) > article > p {
    
}