.list-gallery > li > a::after {
   top:73%;
}

main a,
main a:link,
main a:visited,
main a:hover,
main a:active {
  color:#268281;
  text-decoration: none;
}

main a:hover {
  font-weight: 600;
}




#festivals > article:nth-of-type(2) .info {
  grid-row: 2;
  grid-column: 1 / 3;
}

#festivals > article:nth-of-type(2) .media {
  grid-row: 3;
  grid-column: 1 / 3;
}

#travelingtips > article:nth-of-type(2) h3 {
  grid-row: 1;
  grid-column: 1 / 3;
}

#travelingtips > article:nth-of-type(2) > div.info:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2;
}

#travelingtips > article:nth-of-type(2) > div.info:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 3;
}

#travelingtips > article:nth-of-type(2) > div.media:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 4;
}

#travelingtips > article:nth-of-type(2) > div.info:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 4;
}

#travelingtips > article:nth-of-type(2) > div.media:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 4;
}

#festivals > article:nth-of-type(3) .info {
  grid-row: 2;
  grid-column: 1 / 3;
}

#festivals > article:nth-of-type(3) .media {
  grid-row: 3;
  grid-column: 1 / 3;
}